---
import MobileMenuToggle from './MobileMenuToggle.astro';
import SiteFooter from './SiteFooter.astro';

const { hasSidebar } = Astro.locals.starlightRoute;
---

<div class="page sl-flex">
	<header class="header"><slot name="header" /></header>
	<div class="page-shell">
		{
			hasSidebar && (
				<nav class="sidebar print:hidden" aria-label={Astro.locals.t('sidebarNav.accessibleLabel')}>
					<MobileMenuToggle />
					<div id="starlight__sidebar" class="sidebar-pane">
						<div class="sidebar-content sl-flex">
							<slot name="sidebar" />
						</div>
					</div>
				</nav>
			)
		}
		<div class="main-frame"><slot /></div>
	</div>
	<SiteFooter />
</div>

<style>
	@layer starlight.core {
		.page {
			flex-direction: column;
			min-height: 100vh;
		}

		.header {
			z-index: var(--sl-z-index-navbar);
			position: fixed;
			inset-inline-start: 0;
			inset-block-start: 0;
			width: 100%;
			height: auto;
			border-bottom: 1px solid var(--sl-color-hairline-shade);
			padding: 0.5rem 0;
			background-color: var(--sl-color-bg-nav);
		}

		:global([data-has-sidebar]) .header {
			padding-inline-end: 0;
		}

		.page-shell {
			display: flex;
			flex: 1;
			flex-direction: column;
			width: 100%;
			padding-top: var(--sl-nav-height);
		}

		.sidebar-pane {
			visibility: var(--sl-sidebar-visibility, hidden);
			position: fixed;
			z-index: var(--sl-z-index-menu);
			inset-block: var(--sl-nav-height) 0;
			inset-inline-start: 0;
			width: 100%;
			background-color: var(--sl-color-black);
			overflow-y: auto;
		}

		:global([aria-expanded='true']) ~ .sidebar-pane {
			--sl-sidebar-visibility: visible;
		}

		.sidebar-content {
			height: 100%;
			min-height: max-content;
			padding: 0.375rem var(--sl-sidebar-pad-x) 0;
			flex-direction: column;
			gap: 0.75rem;
		}

		.main-frame {
			flex: 1;
			min-width: 0;
			padding-top: var(--sl-mobile-toc-height);
			padding-inline-start: var(--sl-content-inline-start);
		}

		@media (min-width: 50rem) {
			:global([data-has-sidebar]) .header {
				padding-inline-end: var(--sl-nav-pad-x);
			}

			.page-shell {
				flex-direction: row;
				align-items: stretch;
			}

			.sidebar-pane {
				--sl-sidebar-visibility: visible;
				position: sticky;
				top: var(--sl-nav-height);
				inset-block: auto;
				inset-inline-start: auto;
				width: var(--sl-sidebar-width);
				height: auto;
				max-height: calc(100vh - var(--sl-nav-height));
				flex-shrink: 0;
				background-color: var(--sl-color-bg-sidebar);
				border-inline-end: 1px solid var(--sl-color-hairline-shade);
			}

			.sidebar-content::after {
				content: '';
				padding-bottom: 1px;
			}

			.main-frame {
				padding-inline-start: 0;
			}
		}
	}
</style>
