---
import config from 'virtual:starlight/user-config';
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import Search from 'virtual:starlight/components/Search';
import ThemeSelect from 'virtual:starlight/components/ThemeSelect';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;

const shouldRenderSearch =
	config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="sidebar-tools print:hidden">
	{shouldRenderSearch && <Search />}
	<ThemeSelect />
</div>

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>
